.container {
    margin: 40px 0; 
}

.centered {
    text-align: center !important;
}

.card {
    margin: 0 2% !important;
    text-align: center !important;
}

.confirmed {
    border-bottom: 10px solid #ff6f00;
}

.recovered {
    border-bottom: 10px solid #1b5e20;
}

.deaths {
    border-bottom: 10px solid #b71c1c;
    ;
}